{% extends 'common/index.html' %}
{% block content %}
<h1 style="text-align: center; height: 100px;">Calendar</h1>
<table style="width:50%; margin: 0 auto;"  class="table table-bordered">
  <tr>
    <th colspan="7" style="text-align: center;">{{ YEAR }}년</th>
  </tr>
  <tr>
    {% for day in DAY %}
    <td style="text-align: center;">{{ day }}</td>
    {% endfor %}
  </tr>
  {% for week in thisresult %}
  <tr>
    {% for date, day, last_to_do_list in week %}
    <td style="text-align: center;">
      {% if date == thisday %}
      <span>
        <a href="{% url 'task:to_do_list_detail' date=today %}">{{ date }}</a>
      </span>
      {% elif last_to_do_list %}
      <span style="color: red;">
        <a href="{% url 'task:to_do_list_detail' date=last_to_do_list %}">{{ date }}</a>
      </span>
      {% elif date %}
      <span>{{ date }}</span>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
