{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>10PT</title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'task:index' %}">10PT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'motivation:post' %}">동기부여</a></li>
          <li><a href="{% url 'task:task_calendar' %}">달력 기능</a></li>
          <li><a href="{% url 'task:to_do_list_detail' id=request.user.username %}">할 일</a></li>
          <li><a href="#">마이 페이지</a></li>
          <li><a href="{% url 'member:logout' %}">로그아웃</a></li>
        {% else %}
          <li><a href="{% url 'member:login' %}">로그인</a></li>
          <li><a href="{% url 'member:signup' %}">가입하기</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}SUCCESS:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
    <h2>- 마이 페이지</h2>
    - 레벨 기능
    - 프로필 사진
    {% block content %}
    {% endblock %}
</body>
</html>
