{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>10PT</title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'task:index' %}">10PT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li role="presentation"class="disabled"><a href="" style="color: black;">{{ user.info.username }}</a></li>
          <li role="presentation" class="disabled"><a href="" style="color: black;">LV {{ user.info.level }}</a></li>
          <li role="presentation" class="disabled"><a href="" style="color: black;">|</a></li>
          <li><a href="{% url 'motivation:post' %}">동기부여</a></li>
          <li><a href="{% url 'task:task_calendar' %}">달력</a></li>
          <li><a href="{% url 'member:personal_page' username=request.user.info.username %}">마이 페이지</a></li>
          <li><a href="{% url 'member:signout' %}">로그아웃</a></li>
        {% else %}
          <li><a href="{% url 'member:signin' %}">로그인</a></li>
          <li><a href="{% url 'member:signup' %}">가입하기</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if messages %}
<div class="messages text-center">
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}"{% endif %} style="font-size: 30px">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}SUCCESS:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>
