{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>10PT</title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/header.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/section.min.css' %}">

</head>
<body>
  <div id='header'>
    <div class="header-container">
      <div class="header-content">
        <div class="header-left">
          <div class='header-logo-container'>
              <a href="#" class="header-logo-a">
                <div class='header-logo'></div>
              </a>
            </h1>
          </div>
          {% if user.is_authenticated %}
          <div class='home-container'>
            <a href="{% url 'member:personal_page' username=request.user.info.username %}">
              <span>HOME</span>
            </a>
          </div>
          <div class='scedule-container'>
            <a href="{% url 'task:task_calendar' %}">
              <span>CALENDAR</span>
            </a>
          </div>
          <div class='diary-container'>
            <a href="#">
              <span>DIARY</span>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="header-right">
          {% if user.is_authenticated %}
          <div class="user-profile-container">
            <div class="user-profile">
                {% if user.info.profile_img is None %}
                <img class="user-img" src="{{ MEDIA_URL }}profile/default.png" alt="profile">
                {% else %}
                <img class="user-img" src="{{ MEDIA_URL }}{{ userinfo.profile_img }}" alt="profile">
                {% endif %}
              <span>{{ user.info.username }}</span>
            </div>
          </div>
          <div class='scedule-container'>
            <a href="{% url 'member:signout' %}">
              <span>로그아웃</span>
            </a>
          </div>
          {% else %}
          <div class='scedule-container'>
            <a href="{% url 'member:signin' %}">
              <span>로그인</span>
            </a>
          </div>
          <div class='scedule-container'>
            <a href="{% url 'member:signup' %}">
              <span>가입하기</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% if messages %}
<div class="messages text-center">
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}"{% endif %} style="font-size: 30px">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}SUCCESS:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div style="height: 50px; text-align: center;">
    <p>{{ post.text }}</p>
    <p>- {{ post.author }} -<p>
</div>
    {% block content %}
    {% endblock %}
</body>
</html>
