{% extends 'common/index.html' %}

{% block content %}
<div class="row">
    <div style="background-color: black;">
        <div style="background-image: url({{ MEDIA_URL }}background/main.jpg); height:750px; width:1169px; background-repeat:no-repeat; margin: 0 auto; display: block; position: relative">
            <form action="{% url 'member:signup' %}" method="POST" >
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-success btn">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}